/** this is the for deleting the blog **/

<!doctype html>
<html>
<head>
<title>BLOGS</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body data-spy="scroll" data-target="#title" data-offset="0" class="bg-light">
  <ul class="nav fixed-top bg-info text-white ">
  <li class="nav-item">
    <a class="nav-link active text-dark" href="#" style="font-size:40px; font-weight: bold;">DEVBLOG</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="#about" style="font-size:25px; font-weight: bold;position:relative; left: 500px;">HOME</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="/blog" style="font-size:25px; font-weight: bold;position:relative; left: 500px;">BLOGS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="/blog/new" style="font-size:25px; font-weight: bold;position:relative; left: 500px;">CONTRIBUTE</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="#contact" style="font-size:25px; font-weight: bold;position:relative; left: 500px;">CONTACT</a>
  </li>
</ul>

<div class= " card " style="width: 600px; position: relative; left: 400px; top: 150px;">
<img class="card-img-top"src="<%= blog.image%>" style="height:230px;">
<div class="card-body">
  <h2 class="card-title"><%= blog.title%></h2>
<span class="card-text"><%= blog.created%></span>
<p><%= blog.body%></p>
<a href="/blog/<%=blog._id%>/edit">edit </a>
<form  action="/blog/<%=blog._id%> ?_ method=DELETE" method="POST">
  <input type= "submit" value="delete">
</form>
</div>
</div>
</body>
</html>
